 /* ini css */

 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5; /* Background color for the entire page */
}

 nav {
   
    background-color: #333333; /* Dark background color for header */
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 12px;
    align-items: center;
}

.logo-item {
    font-size: 35px;
    font-weight: bold;
    padding-left: 20px;
    color: #fff; /* Ensure text is visible on dark background */
}


.nav-container {
    display: flex;
    justify-content: center;
    padding-right: 20px;
    background-color: #f0f8ff; 
}

.nav-item {
   
    padding: 8px;
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold; /* Make nav text bold */
}

.main {
    text-align: center;
    margin: 20px 0;
}

.main-content {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.image-and-quote {
    max-width: 50%;
}

.main-content-item {
   
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content-banner {
   
    width: 100%;
    height: 150px;
    background-image: url(https://picsum.photos/400);
}

.item-icon{
    display: flex;
    height: 25px;
    width: 25px;
    background-image: url(https://picsum.photos/25);
    border-radius: 50%;
    
}

.main-item{
    display: flex;
    align-items: center;
    justify-content: center;
}

blockquote {
    margin: 10px 0;
}

.item-content {
    display: flex;
    align-items: center;
}

.item-content img {
    margin-right: 10px;
    border-radius: 50%;
}

.profile-image {
    border-radius: 50%; /* Adjust radius to not make it circular */
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-info cite {
    font-style: normal;
    font-weight: bold;
}

.contact-form {
    background-color: #f0f0f0;
    padding: 20px;
    max-width: 30%;
}

.contact-form h2, .contact-form p {
    text-align: center;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin: 10px 0 5px;
}

.contact-form input, .contact-form select, .contact-form button {
    padding: 10px;
    margin: 5px 0;
    border: 1px snow;
    border-radius: 5px;
}

.button-submit {
    background-color: #000000; /* Warna latar belakang tombol */
    color: orangered;
    border: none; 
    padding: 10px 20px; 
    font-size: 16px;
    cursor: pointer; /* Mengubah kursor menjadi pointer saat di-hover */
}

.button-submit:hover {
    background-color: #333333; /* Warna latar belakang saat di-hover */
}


.features {
    background-color: cornflowerblue;
    padding: 20px;
    text-align: center;
}

.features h2 {
    margin-bottom: 20px;
    align-items: center;
}

.features ol {
    list-style: none;
    padding: 0;
    align-items: center;
}

.features ol li {
    display: flex;
    align-items: center;
    margin: 10px 0;
    text-align: left;
}

.features .icon {
    color: #4CAF50;
    margin-right: 10px;
    font-size: 20px;
    align-items: center;
}

.packages {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}

.packages h2 {
    margin-bottom: 20px;
}

.package-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.package-item {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33% - 40px);
    box-sizing: border-box;
}

.closing-argument {
    background-color: #f8f9fa;
    padding: 40px;
    text-align: center;
}

.closing-argument h2 {
    margin-bottom: 20px;
}

.closing-argument p {
    margin-bottom: 20px;
}

.call-to-action {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

footer {
    position: fixed;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 5px 0;
}

@media only screen and (max-width: 480px) {
    .main-content {
        flex-direction: column;
    }   
}